h1 {
  font-size: 200%;
}

h3, h2 {
  font-size: 150%;
}

/* Override bootstrap padding and margin on containers and rows */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#btn-search {
  background-color:var(--primary);
  background-image: linear-gradient(45deg, #86ffcb 0%, #2bff87 12.5%, var(--primary) 90%);
  transition: all .5s ease-out;
  border-radius: 0 5px 5px 0;
  background-size: 1px 100px;
  background-position: 0 -10px;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-top: none;
  border-left: none;
}

#btn-search:hover {
  background-position: 1px -40px;
}

#btn-search:active {
  background-color:var(--primary);
  background-image: linear-gradient(45deg, #86ffcb 0%, #2bff87 12.5%, var(--primary) 90%);
}

#btn-search:focus {
  outline :none;
}

.list-group-item:hover {
  background-image: linear-gradient(45deg, #86ffcb 0%, #2bff87 12.5%, var(--primary) 90%);
  border-radius: 0 5px 5px 0;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.list-group-item:active {
  background-position: 1px -40px;
  /* transition: .1s; */
}

#search-input {
  border: 1px solid var(--primary);
  outline :none;
  border-radius: 5px 0 0 5px;
}

.card-deck{
  align-items: center;
}

.card {
  width: 75%;
}

.weather-icon {
  object-fit: contain;
  max-height: 265px;
}

.weather-icon-xs {
  float: right;
}

.badge-orange {
  color: #fff;
  background-color: #fa5902;
}

.list-group-item:active {
  transform: translate(0px, 0px);
  box-shadow: none;
  background-color: white;
  color: black;
}

.ui-state-highlight {
  height: 60px;
  list-style: none;
}

/* scroll cards */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  min-width: 160px;
  max-width: 17.5%;
  display: inline-block;
  margin: 0 15px;
}

@media (hover: none) and (pointer: coarse) {
  .list-group-item:active {
    background-image: linear-gradient(45deg, #86ffcb 0%, #2bff87 12.5%, var(--primary) 90%);
    border-radius: 0 5px 5px 0;
    background-size: 1px 100px;
    background-position: 0 -10px;
  }
}