h1 {
  font-size: 200%;
}

h3, h2 {
  font-size: 150%;
}

/* Override bootstrap padding and margin on containers and rows */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#btn-search {
  background-color:var(--green);
  background-image: linear-gradient(45deg, #86ffcb 0%, #2bff87 52%, var(--green) 90%);
  transition: all .5s ease-out;
  border-radius: 0 5px 5px 0;
  background-size: 1px 100px;
  background-position: 0 -10px;
  border-right: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
  border-top: none;
  border-left: none;
}

#btn-search:hover {
  background-position: 1px -40px;
}

#btn-search:active {
  outline :none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid var(--green);
  border-left: 1px solid var(--green);
}

#btn-search:focus {
  outline :none;
}

#search-input {
  border: 1px solid var(--green);
  outline :none;
  border-radius: 5px 0 0 5px;
}

.card-deck{
  align-items: center;
}

.card {
  width: 75%;
}

.weather-icon {
  object-fit: contain;
  max-height: 265px;
}

.badge-orange {
  color: #fff;
  background-color: #fa5902;
}

/* DISABLE FOR TOUCH DEVICE */
.list-group-item:hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--dark) 2px 2px 4px;
  background-color: var(--green);
  color: white;
}

.list-group-item:active {
  transform: translate(0px, 0px);
  box-shadow: var(--dark) -1px -1px;
  transform: translate(1px, 1px);
  background-color: white;
  color: black;
}